<!--   ALIGNS TEXT TO THE CENTER    -->
<div class="top-div"> 
    <h3>
    CREATE AN ACCOUNT
    </h3>
    <button mat-raised-button color="accent" [routerLink] = "'/'">
    Main Page
    </button>

    <button mat-raised-button color="accent" [routerLink] = "'/login'">
    Login
    </button>

    <button mat-raised-button color="accent" [routerLink] = "'/dashboard'">
    Dashboard
    </button>
</div>

<section class="book-background">
    
    <div class="inner">
        <div class="left-side">
            LEFT SIDE
        </div>
        <div class="right-side">
            RIGHT SIDE
        </div>
    </div>
</section>


