<div class="top-div"> 
    <h1>
    HighlanderPrep 
    </h1>
<div class="linked-buttons">
    <button mat-icon-button color="accent" aria-label="Example icon button with a home icon" [routerLink] = "'/'" class="home-icon">
        <mat-icon>home</mat-icon>
    </button>

    <button mat-raised-button color="accent" [routerLink] = "'/login'">
    Login
    </button>

    <button mat-raised-button color="accent" [routerLink] = "'/register'">
    Register
    </button> 

</div>
</div>
<div> <h1 style="text-align: center; padding-top: 10px; margin-bottom: 50px;">Welcome to the HighlanderPrep Dashboard</h1> </div>

<div class="space-invader"></div>
