.top-div {
    font-family: "Lucida Console", "Courier New", monospace;
    padding-top: 5px;
    padding-left: 10px;
    text-align: center;
    background-color: #8b0a8b ;
    color: whitesmoke;

}

.linked-buttons {
    display: flex;
    justify-content: center;
    background: #8b0a8b;
    padding-bottom: 5px;
}

.home-icon {
    color: #fff;
}

.space-invader {
      box-shadow: 0 0 0 1em #8b0a8b,
      0 1em 0 1em #8b0a8b,
      -2.5em 1.5em 0 .5em #8b0a8b,
      2.5em 1.5em 0 .5em #8b0a8b,
      -3em -3em 0 0 #8b0a8b,
      3em -3em 0 0 #8b0a8b,
      -2em -2em 0 0 #8b0a8b,
      2em -2em 0 0 #8b0a8b,
      -3em -1em 0 0 #8b0a8b,
      -2em -1em 0 0 #8b0a8b,
      2em -1em 0 0 #8b0a8b,
      3em -1em 0 0 #8b0a8b,
      -4em 0 0 0 #8b0a8b,
      -3em 0 0 0 #8b0a8b,
      3em 0 0 0 #8b0a8b,
      4em 0 0 0 #8b0a8b,
      -5em 1em 0 0 #8b0a8b,
      -4em 1em 0 0 #8b0a8b,
      4em 1em 0 0 #8b0a8b,
      5em 1em 0 0 #8b0a8b,
      -5em 2em 0 0 #8b0a8b,
      5em 2em 0 0 #8b0a8b,
      -5em 3em 0 0 #8b0a8b,
      -3em 3em 0 0 #8b0a8b,
      3em 3em 0 0 #8b0a8b,
      5em 3em 0 0 #8b0a8b,
      -2em 4em 0 0 #8b0a8b,
      -1em 4em 0 0 #8b0a8b,
      1em 4em 0 0 #8b0a8b,
      2em 4em 0 0 #8b0a8b;
      background: #8b0a8b;
      width: 1em;
      height: 1em;
      overflow: hidden;
      /*
      margin: 50px 20px 70px 65px; */
      display: flex;
      margin: 0 auto;
      
}
