<div class="top-div">
    <h1>
    HighlanderPrep
    </h1>
    <button mat-raised-button color="accent" [routerLink] = "'/create'">
    New User Creation
    </button>

    <button mat-raised-button color="accent" [routerLink] = "'/register'">
    Register
    </button>

    <button   button mat-raised-button color="accent" [routerLink] = "'/login'">
    Login
    </button>

    <button mat-raised-button color="accent" [routerLink] = "'/dashboard'">
    Dashboard
    </button>
</div>

<!--        WHERE BUTTONS USED TO GO
<div class="linked-buttons">

</div>
-->

<!--
<div *ngFor="let user of Users">
    {{ user.name }}
    {{ user.email }}
</div>
-->